<app-nav-bar title_NavBar="Prueba Sumativa - Pablo Espinoza 3E1"></app-nav-bar>

<ion-content>

<ion-grid>

<ion-row>

<ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
<app-news-card title="Agujero Negro Supermasivo" image="/assets/imagenes/img1.jpeg" 
description="Científicos en los ultimos días, anunciaron el hallazgo de un agujero negro supermasivo 
en el centro de nuestra galaxia. Este fenómeno cósmico fascina a la comunidad 
científica y plantea nuevas preguntas sobre la formación de estos objetos celestiales."></app-news-card>
</ion-col>

<ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
<app-news-card title="Lucha contra el Cambio Climático" image="/assets/imagenes/img2.png" 
description="Un equipo internacional ha desarrollado una 
tecnología revolucionaria para capturar y almacenar grandes cantidades de 
dióxido de carbono. Este avance podría tener un impacto significativo en la 
reducción de las emisiones y en la lucha contra el cambio climático."></app-news-card>
</ion-col>

<ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
<app-news-card title="Desarrollo de Vacuna" image="/assets/imagenes/img3.png" 
description="Científicos anunciaron el progreso en el desarrollo de una nueva 
vacuna contra una enfermedad infecciosa global. Los primeros ensayos clínicos 
muestran resultados prometedores, ofreciendo esperanzas para combatir eficazmente 
esta amenaza para la salud mundial."></app-news-card>
</ion-col>
</ion-row>
</ion-grid>

</ion-content>
